[Unit]
Description=Virtual Surround Sound
Requires=pipewire.service
After=pipewire.service
PartOf=pipewire.service wireplumber.service

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitInterval=5
StartLimitBurst=5
ExecStart=/home/markm/homebrew/plugins/decky-virtual-surround-sound/service.sh run

[Install]
WantedBy=default.target
