layout {
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// Block out sensitive components from screencasts
layer-rule {
    match namespace="^dms:clipboard$"

    block-out-from "screencast"
}

overview {
    workspace-shadow {
        off
    }
}


